@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
}
body {
  background-color: white;
}
main {
  border-radius: 0px;
  display: flex;
  flex-direction: column;
}
.home {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  align-items: center;
}
.logotag {
  /* display: flex; */
  width: 20%;
  /* align-items: center; */
}
.abt {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.abt button {
  color: #155eef;
  height: 44px;
  width: 94px;
  /* left: 346.5px; */
  border-radius: 8px;
  border-color: #155eef;
}
.abt h2 {
  color: #080808;
}
.abt a {
  text-decoration: none;
  margin-bottom: -10px;
}
.second {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 56px 120px 0px;
  background: #080808;
}
.bobo img {
  display: block;
}
.third {
  background-color: white;
  display: flex;
  gap: 157px;
  align-items: center;
  padding: 64px 120px;
  justify-content: space-between;
}
.third img {
  display: flex;
  /* margin-top: 32px;
  margin-left: 120px; */
}
.word1 {
  padding-left: 80px;
  margin-bottom: 20px;
}
.word1 h2 {
  font-family: Halant;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #b8b8b8;
}
.word1 h1 {
  font-family: Halant;
  font-size: 56px;
  font-weight: 200;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.word1 p {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: left;
  width: 75%;
  margin-bottom: 5px;
}
.prj {
  border-radius: 8px;
  padding: 10px 16px 10px 16px;
  background: #155eef;
  color: #ffffff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.word2 h3 {
  font-family: "Halant", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 50px;
}
.word2 p {
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: justify;
  width: 75%;
}
#hire {
  background-color: blue;
  color: white;
  border-radius: 8px;
  border-color: #155eef;
  border-style: 0;
  padding: 10px 49px;
}
#seersm {
  background-color: white;
  color: blue;
  border-radius: 8px;
  border-color: #155eef;
  padding: 10px 16px;
}
.fourth {
  width: 100%;
  background: #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  position: relative;
}
.pic5 {
  width: 45%;
  padding: 5%;
  margin-left: 25px;
}
.pic5 img {
  width: 100%;
}
.word3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background: #ffffff;
  width: 40%;
  line-height: 15%;
  padding: 70px 40px;
  bottom: 60px;
  gap: 45px;
  width: 45%;
  position: absolute;
  margin-left: 35%;
  margin-top: 60%;
}
.wh3 {
  font-family: "Halant";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 5px;
  /* bottom: 40%; */
  /* gap: 15%; */
}
#mainword {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0.5px;
  gap: 5%;
  line-height: 25px;
}
.joy {
  display: flex;
  flex-direction: row;
  line-height: 5px;
  align-items: flex-start;
  text-align: justify;
}
#jy {
  font-family: "Halant";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0.5px;
  color: #525252;
}
#dash {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}
#ct {
  font-family: "Halant";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #525252;
  justify-content: center;
}
.desktop {
  background: #080808;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;
  align-items: center;
}
.lg {
  display: flex;
  align-items: center;
  gap: 2px;
}
.log {
  margin-left: 40%;
}
.log img {
  width: 100%;
  display: block;
}
.md {
  display: flex;
  gap: 20px;
}
/* .ad {
  align-items: flex-end;
} */
.ad p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* width: 100%; */
}
.mat {
  display: none;
}
.mobile {
  display: none;
}

@media (max-width: 768px) {
  body {
    background: #080808;
  }
  .home {
    padding: 0px 8px;
  }

  .abt {
    display: none;
  }
  .mat {
    display: block;
  }
  .second {
    flex-direction: column-reverse;
    padding: 24px 8px 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .word1 {
    padding: 0;
    margin: 0;
  }
  .word1 h2 {
    font-family: "Halant";
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    align-items: center;
  }
  .word1 h1 {
    font-family: "Halant";
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    align-items: center;
  }
  .word1 p {
    font-family: "Manrope";
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    width: auto;
  }
  .word2 h2 {
    font-family: "Halant";
    font-style: normal;
    font-size: 16px;
    margin-top: 16px;
  }

  .third {
    display: block;
    padding: 16px 8px 39px 8px;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .bobo {
    align-items: center;
    width: 90%;
  }
  .bobo img {
    width: 100%;
  }
  .third img {
    display: none;
    padding: 0px;
  }
  .third h3 {
    font-family: "Halant";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    align-items: center;
    line-height: 38px;
    text-align: center;
  }
  .word2 h3,
  p {
    align-items: center;
    padding: 0px;
  }
  .word2 p {
    width: auto;
  }
  .give {
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 16px auto 0;
    width: 90%;
  }
  #hire {
    border-radius: 8px;
    align-items: flex-start;
    padding: 10px 32px;
  }
  .word2 p {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.5px;
  }
  .prj {
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
  }
  .fourth {
    /* display: block; */
    justify-content: center;
    align-items: center;
    /* position: unset; */
    /* background: #080808; */
    margin-top: 15%;
    /* gap: 16px; */
    padding: 16px 0px 39px 0px;
  }
  .word3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 16px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-top: auto;
    background: #e6e6e6;
  }
  .pic5 {
    display: none;
  }
  .desktop {
    display: none;
  }
  .joy {
    margin-right: 40%;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 16px;
    justify-content: space-between;
  }
  .topfooter {
    display: flex;
    align-items: center;
    padding: 16px 8px;
    flex-direction: row;
    gap: 35px;
  }
  .log img {
    width: 100%;
  }
  .log {
    width: 65%;
    margin-right: 65%;
    align-items: flex-start;
   }
  .ft {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
    margin-right: 10px;
  }
  .ad {
    color: #ffffff;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15.9623px;
    line-height: 150%;
    margin-left: 15%;
  }
}
