@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
main {
  border-radius: 0px;
  display: flex;
  flex-direction: column;
}
.home {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  align-items: center;
}
.logotag {
  display: flex;
  width: 20%;
  align-items: center;
}
.abt {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.abt button {
  color: #155eef;
  height: 44px;
  width: 94px;
  left: 346.5px;
  border-radius: 8px;
  border-color: #155eef;
}
.abt h2 {
  color: #080808;
}
.abt a {
  text-decoration: none;
  margin-bottom: -10px;
}
.second {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 56px 120px 0;
}
.third {
  background-color: white;
  display: flex;
  gap: 157px;
  align-items: center;
  padding: 64px 120px;
  justify-content: space-between;
}
.third img {
  display: flex;
  margin-top: 32px;
  margin-left: 120px;
}
.word1 {
  padding-left: 80px;
  margin-bottom: 20px;
}
.word1 h2 {
  font-family: Halant;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #b8b8b8;
}
.word1 h1 {
  font-family: Halant;
  font-size: 56px;
  font-weight: 200;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.word1 p {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: left;
  width: 75%;
  margin-bottom: 5px;
}
.prj {
  border-radius: 8px;
  padding: 10px 16px 10px 16px;
  background: #155eef;
  color: #ffffff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.word2 h3 {
  font-family: "Halant", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 50px;
}
.word2 p {
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: justify;
  width: 75%;
}
#hire {
  background-color: blue;
  color: white;
  border-radius: 8px;
  border-color: #155eef;
  border-style: 0;
  padding: 10px 49px;
}
#seersm {
  background-color: white;
  color: blue;
  border-radius: 8px;
  border-color: #155eef;
  padding: 10px 16px;
}

.desktop {
  background: #080808;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 5%;
  align-items: center;
}
.lg {
  display: flex;
  align-items: center;
  gap: 2px;
}
.log img {
  width: 70%;
}
.md {
  display: flex;
  gap: 20px;
}
.ad p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.mat {
  display: none;
}
.mobile {
  display: none;
}

@media (max-width: 768px) {
  .home {
    padding: 0px 8px;
  }
  .abt {
    display: none;
  }
  .mat {
    display: block;
  }
  .second {
    flex-direction: column-reverse;
    padding: 24px 8px 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .word1 {
    padding: 0;
    margin: 0;
  }
  .word1 h2 {
    font-family: "Halant";
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    align-items: center;
  }
  .word1 h1 {
    font-family: "Halant";
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    align-items: center;
  }
  .word1 p {
    font-family: "Manrope";
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    width: auto;
  }
  .word2 h2 {
    font-family: "Halant";
    font-style: normal;
    font-size: 16px;
    margin-top: 16px;
  }

  .third {
    display: block;
    padding: 16px 8px 39px 8px;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .bobo {
    align-items: center;
    width: 90%;
  }
  .bobo img {
    width: 100%;
  }
  .third img {
    display: none;
    padding: 0px;
  }
  .third h3 {
    font-family: "Halant";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    align-items: center;
    line-height: 38px;
    text-align: center;
  }
  .word2 h3,
  p {
    align-items: center;
    padding: 0px;
  }
  .word2 p {
    width: auto;
  }
  .give {
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 16px auto 0;
    width: 90%;
  }
  #hire {
    border-radius: 8px;
    align-items: flex-start;
    padding: 10px 32px;
  }
  .word2 p {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.5px;
  }
  .prj {
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 16px;
    justify-content: center;
  }
  .topfooter {
    display: flex;
    align-items: center;
    padding: 16px 8px;
  }
  .ft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
  }
  .ad {
    color: #ffffff;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15.9623px;
    line-height: 150%;
  }
}
